/* Adapted code from GreatStack Tutorial https://www.youtube.com/watch?v=jbfuzcrfjqQ&ab_channel=GreatStack */
.bag {
    width: 340px;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 16px;
    margin: 16px auto;
}

.bag p {
    margin: 6px 0px;
    font-size: 20px;
    font-weight: 600;
}

.bag-price {
    display: flex;
    gap: 20px;
    font-size: 19px;
    font-weight: 400;
    color: black;
}

.bag-img {
    width: 200px;        
    height: 200px;
    object-fit: contain; 
    display: block;
    margin: 0 auto;
}