/* Adapted code from GreatStack Tutorial */
.shoe {
    width: 340px;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 16px;
    margin: 16px auto;
}

.shoe p {
    margin: 6px 0px;
    font-size: 20px;
    font-weight: 600;
}

.shoe-price {
    display: flex;
    gap: 20px;
    font-size: 19px;
    font-weight: 400;
    color: black;
}

.shoe-img {
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

.link {
  color: #e74e3a;
  text-decoration: none;
}