.shoe {
    width: 360px;
}

.shoe p {
    margin: 6px 0px;
    font-size: 20px;
    font-weight: 600;
}

.shoe-price {
    display: flex;
    gap: 20px;
    font-size: 19px;
    font-weight: 400;
    color: black;
}

.shoe-img {
    width: 300px;
    height: auto;
}

.link {
  color: #e74e3a;
  text-decoration: none;
}