/* Adapted code from GreatStack Tutorial https://www.youtube.com/watch?v=jbfuzcrfjqQ&ab_channel=GreatStack */
.hero {
  display: flex;
  height: 100vh;
  background-color: #e74e3a;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: white;
}

.hero h2 {
  font-size: 3rem;
}

.hero-button {
  background-color: white;
  color: #e74e3a;
  border: none;
  border-radius: 30px;
  padding: 12px 24px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 7px;
}