.hero {
    display: flex;
    height: 100vh;
    background-color: #e74e3a;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: white;
}

.hero h2 {
  font-size: 3rem;
}

.hero-button {
    background-color: white;
    color: #e74e3a;
    border: none;
    border-radius: 30px;
    padding: 16px 32px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}